alanguage: php

php:
    - 7.1

services:
    - mysql
    - redis

before_script:
    - cp .env.travis .env
    - composer install
    - php artisan key:generate
    - mysql --version
    - mysql -e 'CREATE DATABASE ingresse_testing;'

script:
    - ./vendor/bin/phpunit
