version: '2'
services:
    app:
        build:
            context: ./
            dockerfile: app.dockerfile
        volumes:
            - ./:/var/www
            - .env.docker:/var/www/.env
        working_dir: /var/www
        depends_on:
            - db
        links:
            - db
        entrypoint:
            - php-fpm

    web:
        image: nginx:alpine
        volumes:
            - ./vhost.conf:/etc/nginx/conf.d/default.conf
        ports:
            - 8888:80
        volumes_from:
            - app
        links:
            - app
            - db

    db:
        image: 'mysql:5.7'
        environment:
            - MYSQL_ROOT_PASSWORD=ingresseroot
            - MYSQL_DATABASE=ingresse
            - MYSQL_USER=root
            - MYSQL_PASSWORD=ingresseroot
